
body{
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-image: url("/image/B_books2.jpg");
    background-repeat: no-repeat;
}

/*tip1*/
.tip1{
    position: absolute;
    left: 10%;
    top: 125px;
}
/*--------------------导航栏设计---------------*/
nav{
    font-size:20px;
    float:initial;
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
}
nav ul li {
    float:left;
    display: inline;
}
nav ul li a {
    float: left;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    outline: none;
}

/*搜索框设计-----------------------------------------*/
.search-box{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-end;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#2f3640;
    height: 38px;
    border-radius: 60px;
    padding: 10px;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-option-wrapper{
    margin-left: 10px;
    order: 2;
}
.search-option-wrapper select{
    background-color: cadetblue;
}
.search-box:hover > .search-btn{
    background: white;
}

.search-btn{
    margin-left: 10px;
    color: #988fc7;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
image.custom-icon{
    width: 30px;
    height: 30px;
    fill: red;
    transition: color 0.3s;
}
image.custom-icon:hover{
    fill: cadetblue;
}

/*菜单设计----------------------------------------------------*/
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
}

#search-option {
    padding: 5px;
    margin-right: 10px;
}

#search-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
/*搜索结果*/
.search-result {
    margin-top: 20px;
}

.book-table {
    width: 100%;
    border-collapse: collapse;
}

.book-table th,
.book-table td {
    padding: 10px;
    border: 1px solid #ccc;
}
/*表格----------------------------------------------------*/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

.table-container{
    position: relative;
}
.my-table{/*续借表*/
    position: absolute;
    width: 400px;
    height: 300px;
    left: 24%;
    top: 200px;
    transform: translate(-50%);
}
.res-table{/*查询结果*/
    position: absolute;
    width: 600px;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    margin: auto;
}
/* 这个是登录区域 */
.login-wrap {
    width: 400px;
    height: 650px;
    margin: auto;
    position: absolute;
    top: 100px;
    left:35%;
    /* 居中结束 */
    border-radius: 10px;
    padding: 0 50px; /* 左右留出空余 */
}
/* 给最上面的Login这个标题设置样式 */
.login-title {
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    color: black;
    font-weight: bold;
}
.login-title1 {
    font-size: 18px;
    text-align: left;
    line-height: 60px;
    color: black;
    font-weight: bold;
}
/* 输入设置样式 */
.login-form .login-input{
    float: right;
    display: block; /* input 标签是行内元素 */
    width: 68%;
    border: 0;
    border-bottom: 1px solid #0e0e0e;
    padding: 10px 0 10px 10px;
    margin-bottom: 10px;
    outline: none; /* 输入框边框去掉 */
    background-color: transparent; /* 透明色 */
}
.login-form .login-input::placeholder {
    text-transform: uppercase; /* 设置placeholder内容的大小写 */
    color: #090909;
}
/* 给登录提交按钮设置样式 */
.login-form .login-submit {
    width: 100%;
    line-height: 30px;
    border: 0;
    border-radius: 3px;
    margin-top: 20px;
    background-image: linear-gradient(to right, #0d0e0e, #131313);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
}
