
body{
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-image: url("../image/bg5.jpg");
    background-repeat: no-repeat;
}

/*--------------------导航栏设计---------------*/

nav{
    position: absolute;
    top: 30px;
    left: 20px;
    font-size:20px;
    float:initial;
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
}
nav ul li {
    float:left;
    display: inline;
}
nav ul li a {
    float: left;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    outline: none;
}

/*--------续借表----------------*/
/*表格----------------------------------------------------*/


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

.table-container{
    position: relative;
}
.my-table{/*续借表*/
    background-color: white;
    position: absolute;
    width: 1000px;
    height: 300px;
    left: 50%;
    top: 200px;
    transform: translate(-50%);
}
.tip1{
    position: absolute;
    top: 100px;
    left: 400px;
}